<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papelera</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/src/main/resources/static/favicon_package_v0-2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_package_v0-2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_package_v0-2/favicon-16x16.png">
    <link rel="manifest" href="/favicon_package_v0-2/site.webmanifest">
    <link rel="mask-icon" href="/favicon_package_v0-2/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Drawing 2.0">
    <meta name="application-name" content="Drawing 2.0">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/showCanvas.css">
</head>

<body>
    <header>
        <div class="header">
            <nav>
                <ul class="nav-list">
                    <li class="barra-pagina"><a href="/canvasDraw">Dibujar</a></li>
                    <li class="barra-pagina"><a href="/trash">Papelera</a></li>
                    <li class="barra-pagina"><a href="/allCanvas">Ver todos los Canvas</a></li>
                    <li class="barra-pagina"><a href="/login">Salir de la sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Papelera de [[${name}]]</h1>

    <table>
        <tr>
            <th>IdCanvas</th>
            <th>Nombre</th>
            <th>Fecha de creacion</th>
            <th>Elementos</th>
            <th>Propietario</th>
            <th>Opciones</th>
        </tr>
        <tr th:each="canvas : ${trash}">
            <td th:text="${canvas.idObjectes}"></td>
            <td th:text="${canvas.nameCanvas}"></td>
            <td th:text="${canvas.dataCreacio}"></td>
            <td>
                <ul>
                    <li th:text="'Total de Objectes que esta compost el dibuix: ' + ${canvas.numberObject}"></li>
                </ul>
            </td>
            <td th:text="${canvas.getUser_email()}"></td>
            <td>
                <div>
                <form th:action="@{/trash/delete}" method="post" onsubmit="return confirmDelete()">
                    <input type="hidden" name="id" th:value="${canvas.idObjectes}" readonly />
                    <button type="submit" class="delete" th:if="${canvas.getUser_email == email}">Delete</button>
                </form>
                
                <form th:action="@{/trash/exitTrash}" method="post">
                        <input type="hidden" name="id" th:value="${canvas.idObjectes}" readonly />
                        <button type="submit" class="exitTrash" th:if="${canvas.getUser_email == email}">Sacar de la papelera.</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <script src="/js/fetch.js"></script>
</body>
</html>