<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ver Canvas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header">
            <nav>
                <ul class="nav-list">
                    <li class="barra-pagina"><a href="/canvasDraw">Dibujar</a></li>
                    <li class="barra-pagina"><a href="/trash">Papelera</a></li>
                    <li class="barra-pagina"><a href="/allCanvas">Ver todos los Canvas</a></li>
                    <li class="barra-pagina"><a href="/login">Salir de la sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Seccion de Visualización de el Canvas</h1>
    <br>
    <h2>Bienvenido, [[${name}]]</h2>
    <br>
    <h3>Nombre de el canvas: , [[${nameCanvas}]]</h3>
    <br>
    <!--Ara utilitzam th:value per pasar el JSON a js en lloc de value com feiem en la versio anterior.-->
    <input type="hidden" id="llistaFigureJson" name="llistaFigureJson" th:value="${llistaFigureJson}" />
    <input type="hidden" id="llistaStroke" name="llistaStroke" th:value="${llistaStroke}" />
    <canvas id="lienzo" width="800" height="550"></canvas>

    <!--
    <select>
        <option th:each="version : ${versions}" 
            th:text="${version.viewDateLastModified()}" >
        </option>
    </select>-->

    <button type="button" id="copyButton" name="copy"onclick="sendCopyRequest(this)"></button>
    <select>
        <option th:each="version : ${versions}" 
            th:text="${version.viewDateLastModified()}"
            th:value="${version.idVersion}" >
        </option>
    </select>
    <table  th:if="${not #lists.isEmpty(allUsers)}">
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Permisos</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.email}"></td>
            <td th:text="${user.getName()}"></td>
            <td>
                <div>
                    <button type="button" class="read" onclick="sendPermissionRequest('R',this)">Lectura</button>
                    <button type="button" class="write" onclick="sendPermissionRequest('W',this)">Escritura</button>
                </div>
            </td>
        </tr>
    </table>
    <script src="js/vista.js"></script>
    <script src="js/fetch.js"></script>
</body>
</html>